<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CFKorea.pbc"
    android:versionCode="4"
    android:versionName="1.0.4" >
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.CAMERA" />
 	<uses-permission android:name="android.permission.INTERNET" />
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 	<uses-permission android:name="android.permission.SET_WALLPAPER" />
 	<uses-permission android:name="android.permission.RESTART_PACKAGES"/>
 	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
 	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
 	<uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
 	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> 
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	
    
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
  	<uses-feature android:name="android.hardware.camera.front" android:required="false" />
  	
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_eng"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:largeHeap="true"
        >
        <activity
            android:name=".Activity.IntroActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.TranslucentDecor"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.MainActivity"
            android:theme="@style/AppTheme.TranslucentActionBar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.PopUpActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.VideoRecordingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.VoiceRecordingActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.MyStudioActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.MyStudioMovieDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.MyStudioVoiceDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.MyStudioPhotoDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.MemberShipLoginActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.MemberShipJoinActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.MemberShipJoinDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.VoiceActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.QnaActivity"
            android:theme="@android:style/Theme.NoTitleBar"
             >
        </activity>
        
        <activity                                              
            android:name="com.CFKorea.pbc.Activity.MyUploadActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        
    </application>

</manifest>
